.eslintcache
.cache
scalastyle-output.xml
.classpath
.idea/*
!.idea/vcs.xml
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
.mvn/wrapper/*.jar
target
tmp
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
build-target
atlassian-ide-plugin.xml
out/
/docs/api
/docs/.bundle
/docs/.rubydeps
/docs/ruby2/.bundle
/docs/ruby2/.rubydeps
/docs/.jekyll-metadata
*.ipr
*.iws
tools/flink
tools/flink-*
tools/releasing/release
tools/japicmp-output